.idea/
packaging/PKGBUILD/pkg/
packaging/PKGBUILD/src/
packaging/PKGBUILD/*.pkg.*
packaging/PKGBUILD/*.py
packaging/PKGBUILD/*.txt

packaging/debian/*.py
packaging/debian/*.txt

packaging/fedora/**/*.rpm
packaging/fedora/**/*.log